html, body, #messages, #online-users, .panel, #message-text {
    background-color: #222222;
    color: #FFFFFF;
}

.text-in-info.active {
    background: #5cb85c;
}

.group-messages:nth-child(even) {
    background-color: #222222;
}

.group-messages:nth-child(odd) {
    background-color: #333333;
}

.message:hover {
    background: #464a4c;
}

.message.light {
    background: darkgreen;
}

.message.light:hover {
    background: #5cb85c;
}
